<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product
        Id="*"
        Name="Intel(R) PresentMon"
        Language="1033"
        Version="$(var.ProductVersion)"
        Manufacturer="Intel(R) Corporation"
        UpgradeCode="CD0D489E-0FE7-452D-90D9-F94F3F5FF410">

        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
        <Icon Id="PresentMonArpIcon.ico" SourceFile="..\AppCef\flask.ico" />

        <!-- Handle in-use files by scheduling for reboot (user will see FilesInUse dialog) -->
        <Property Id="ARPPRODUCTICON" Value="PresentMonArpIcon.ico" />
        <Property Id="LOCALAPPDATAPRESENTMONFOLDER">
            <RegistrySearch
                Id="SearchLocalAppDataPresentMonFolder"
                Root="HKCU"
                Key="Software\Intel\PresentMon"
                Name="LocalAppDataPresentMonFolder"
                Type="raw" />
        </Property>

        <MajorUpgrade
            Schedule="afterInstallExecute"
            AllowDowngrades="no"
            DowngradeErrorMessage="!(loc.product_downgrade_error_message)"/>
        
        <MediaTemplate EmbedCab="yes" />

        <?define console_app_path = $(pm.GetConsoleAppPath($(var.SolutionDir), $(var.ConsoleAppVersion))) ?>
        <?define console_app_filename = $(pm.GetConsoleAppFileName($(var.ConsoleAppVersion))) ?>
        <?define has_console_app = $(pm.CheckFileExists($(var.console_app_path))) ?>

        <Feature
            Id="complete_install"
            Title="Intel(R) PresentMon"
            Description="!(loc.feature_complete_install_description)"
            Display="expand">
            <ComponentRef Id="pm_license" />
            <Feature
                Id="presentmon_install"
                Title="!(loc.feature_presentmon_install_title)"
                Description="!(loc.feature_presentmon_install_description)"
                Level="1"
                Absent="disallow" >
                <ComponentGroupRef Id="service_files" />
                <ComponentGroupRef Id="pm_app" />
                <ComponentGroupRef Id="WinUIFiles" />
                <ComponentGroupRef Id="pm_app_shaders" />
                <ComponentGroupRef Id="pm_app_presets" />
                <ComponentGroupRef Id="pm_app_pathed" />
                <Feature
                    Id="presentmon_cli_path_feature"
                    Title="!(loc.feature_presentmon_cli_path_title)"
                    Description="!(loc.feature_presentmon_cli_path_description)"
                    Level="200"
                    Absent="allow">
                    <ComponentGroupRef Id="pm_app_cli_path" />
                </Feature>
            </Feature>
            <Feature
                Id="presentmon_provider_install"
                Title="!(loc.feature_presentmon_provider_install_title)"
                Description="!(loc.feature_presentmon_provider_install_description)"
                Level="1"
                Absent="allow">
                <ComponentGroupRef Id="provider_group" />
            </Feature>
			<Feature
                Id="presentmon_sdk_install"
                Title="PresentMon SDK"
                Description="Libraries for interfacing with the PresentMon service via API"
                Level="1"
                Absent="allow">
				<ComponentGroupRef Id="sdk_group" />
			</Feature>
            <?if $(var.has_console_app) = "true" ?>
            <Feature
                Id="presentmon_console_install"
                Title="!(loc.feature_presentmon_console_app_install_title)"
                Description="!(loc.feature_presentmon_console_app_install_description)"
                Level="1">
                <ComponentGroupRef Id="console_app_group" />
            </Feature>
            <?endif?>
            <Feature
                Id="main_application_uninstall"
                Title="uninstall"
                AllowAdvertise="no"
                Level="1"
                Absent="disallow"
                Display="hidden">
                <ComponentRef Id="CleanupMainApplicationFolder" />
                <ComponentRef Id="CleanupAppLocalDataFolder" />
            </Feature>
        </Feature>

        <UIRef Id="WixUI_FeatureTree"/>
        <UIRef Id="WixUI_ErrorProgressText" />

        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

        <CustomAction Id="SetLocalAppDataPresentMonFolder"
                      Property="LOCALAPPDATAPRESENTMONFOLDER"
                      Value="[LocalAppDataFolder]Intel\PresentMon"
                      Execute="immediate" />

        <InstallExecuteSequence>
            <Custom Action="SetLocalAppDataPresentMonFolder" Before="CostInitialize">NOT LOCALAPPDATAPRESENTMONFOLDER</Custom>
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="SetLocalAppDataPresentMonFolder" Before="CostInitialize">NOT LOCALAPPDATAPRESENTMONFOLDER</Custom>
        </InstallUISequence>
    </Product>

    <Fragment>
        <Directory
            Id="TARGETDIR"
            Name="SourceDir">
            <Directory
                Id="ProgramFiles64Folder">
                <Directory
                    Id="intel_folder"
                    Name="Intel">
                    <Directory
                        Id="service_folder"
                        Name="PresentMonSharedService"/>
                    <Directory
                        Id="APPLICATIONFOLDER"
                        Name="PresentMon">
                        <Directory
                            Id="sdk_folder"
                            Name="SDK"/>
                        <Directory
                            Id="provider_folder"
                            Name="Provider"/>
                        <Directory
                            Id="pm_console_app_folder"
                            Name="PresentMonConsoleApplication"/>
                        <Directory
                            Id="pm_app_folder"
                            Name="PresentMonApplication">
                            <Directory
                                Id="pm_app_pathed_folder"
                                Name="pathed"/>
                            <Directory
                                Id="pm_app_shaders_folder"
                                Name="Shaders"/>
                            <Directory
                                Id="pm_app_presets_folder"
                                Name="Presets"/>
                            <Directory
                                Id="pm_app_ui_folder"
                                Name="ui"/>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory
                Id="ProgramMenuFolder">
                <Directory Id="PM_ProgramMenuFolder" Name="Intel PresentMon" />
            </Directory>
            <Directory
                Id="DesktopFolder"
                Name="Desktop">
            </Directory>
            <Directory 
                Id="WindowsFolder">
                <Directory Id="SystemFolder" Name="System32" />
            </Directory>            
        </Directory>
    </Fragment>

    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component
                Id="CleanupMainApplicationFolder"
                Guid="*">
                <RegistryValue
                    Root="HKCU"
                    Key="Software\Intel\PresentMon"
                    Name="PresentMonInstallFolder"
                    Type="string"
                    Value="[APPLICATIONFOLDER]"
                    KeyPath="yes"/>
                <RemoveFolder
                    Id="RemoveSdkIfEmpty"
                    Directory="sdk_folder"
                    On="uninstall" />
                <RemoveFolder
                    Id="RemoveProviderIfEmpty"
                    Directory="provider_folder"
                    On="uninstall" />
                <RemoveFolder
                    Id="RemoveConsoleAppIfEmpty"
                    Directory="pm_console_app_folder"
                    On="uninstall" />
                <RemoveFolder
                    Id="RemoveAppUIIfEmpty"
                    Directory="pm_app_ui_folder"
                    On="uninstall" />
                <RemoveFolder
                    Id="RemoveAppPresetsIfEmpty"
                    Directory="pm_app_presets_folder"
                    On="uninstall" />
                <RemoveFolder
                    Id="RemoveAppPathedIfEmpty"
                    Directory="pm_app_pathed_folder"
                    On="uninstall" />
                <RemoveFolder
                    Id="RemoveAppIfEmpty"
                    Directory="pm_app_folder"
                    On="uninstall" />                
                <RemoveFolder
                    Id="RemoveAppRootIfEmpty"
                    Directory="APPLICATIONFOLDER"
                    On="uninstall" />
            </Component>
            <Component
                Id="CleanupAppLocalDataFolder"
                Guid="*">
                <RegistryValue
                    Root="HKCU"
                    Key="Software\Intel\PresentMon"
                    Name="LocalAppDataPresentMonFolder"
                    Type="string"
                    Value="[LOCALAPPDATAPRESENTMONFOLDER]"
                    KeyPath="yes"/>
                <util:RemoveFolderEx
                    On="both"
                    Property="LOCALAPPDATAPRESENTMONFOLDER" />
            </Component>
            <Component
                Id="pm_license"
                Guid="CB62BC39-92A6-4F4E-9028-289EF6030EBE">
                <File
                    Id="license_text"
                    Name="LICENSE.txt"
                    Source="..\..\LICENSE.txt">
                </File>
                <File
                    Id="third_party_text"
                    Name="THIRD_PARTY.txt"
                    Source="..\..\THIRD_PARTY.txt">
                </File>
            </Component>
        </DirectoryRef>
        <ComponentGroup
            Id="provider_group"
            Directory="provider_folder">
            <Component Id="Intel_PresentMon.dll">
                <File
                    Id="Intel_PresentMon.dll"
                    Source="$(var.Provider.TargetPath)"
                    KeyPath="yes">
                </File>
            </Component>
            <Component Id="IntelPresentMon.man">
                <File
                    Id="IntelPresentMon.man"
                    Source="$(var.Provider.ProjectDir)Intel-PresentMon.man"
                    KeyPath="yes">
                    <util:EventManifest
                        MessageFile="[#Intel_PresentMon.dll]"
                        ResourceFile="[#Intel_PresentMon.dll]"
					></util:EventManifest>
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app"
            Directory="pm_app_folder">
            <Component Id="pm_app_shortcuts" Guid="7222FDA2-E341-43F8-836E-F62044C62595">
                <!-- Desktop shortcut (per-user) -->
                <Shortcut Id="sc_presentmon_desktop"
                          Directory="DesktopFolder"
                          Name="Intel PresentMon"
                          Advertise="no"
                          Target="[pm_app_folder]PresentMon.exe"
                          WorkingDirectory="pm_app_folder" />

                <!-- Start Menu shortcut (per-user, into our subfolder) -->
                <Shortcut Id="sc_presentmon_startmenu"
                          Directory="PM_ProgramMenuFolder"
                          Name="Intel PresentMon"
                          Advertise="no"
                          Target="[pm_app_folder]PresentMon.exe"
                          WorkingDirectory="pm_app_folder" />

                <!-- HKCU registry value = KeyPath (per-user component) -->
                <RegistryValue Root="HKCU"
                               Key="Software\Intel\PresentMon"
                               Name="Installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />

                <!-- Tidy the (empty) Start Menu subfolder on uninstall -->
                <RemoveFolder Id="RemovePMProgramMenuFolder"
                              Directory="PM_ProgramMenuFolder"
                              On="uninstall" />
            </Component>
            <Component
                Id="pm_app_kern_proc_exe"
                Guid="7E4A9C50-97C5-4BFE-B4D0-0E3B2FA5C3F7">
                <File
                    Id="pm_app_kern_proc_exe"
                    Name="$(var.KernelProcess.TargetFileName)"
                    Source="$(var.KernelProcess.TargetPath)"
                    KeyPath="yes">
                </File>
            </Component>
			<Component
                Id="pm_app_target_block_list_txt"
                Guid="203B303F-A097-4B1E-BFA0-895794F192C1">
                <File
                    Id="pm_app_target_block_list_txt"
                    Name="TargetBlockList.txt"
                    Source="$(var.KernelProcess.TargetDir)Blocklists\TargetBlockList.txt"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_remove_middleware"
                Guid="C980319A-1DC0-4F9C-9E93-9775B71CD1A5">
				<RemoveFile Id="remove_app_middleware" Name="$(var.PresentMonAPI2.TargetFileName)" On="both"/>
            </Component>
			<Component
                Id="pm_app_present_mon_api_2_loader_dll"
                Guid="046B72A8-25CD-4185-AE7D-AFE7C5ADC24D">
				<File
                    Id="pm_app_present_mon_api_2_loader_dll"
                    Name="$(var.PresentMonAPI2Loader.TargetFileName)"
                    Source="$(var.PresentMonAPI2Loader.TargetPath)"
                    KeyPath="yes">
				</File>
			</Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_pathed"
            Directory="pm_app_pathed_folder">
            <Component
                Id="pm_app_cli_script"
                Guid="8F5A37C0-2A70-4C5A-95A2-4F6FBF540E64">
                <File
                    Id="pm_app_cli_script"
                    Name="presentmon-cli.bat"
                    Source="$(var.KernelProcess.TargetDir)pathed\presentmon-cli.bat"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_cli_path"
            Directory="pm_app_folder">
            <Component
                Id="pm_app_cli_path_environment"
                Guid="149B4A34-E489-4E5A-A236-9DDDC70C9D6A">
                <RegistryValue
                    Root="HKLM"
                    Key="Software\Intel\PresentMon"
                    Name="CliPathEnvironmentInstalled"
                    Type="integer"
                    Value="1"
                    KeyPath="yes" />
                <Environment
                    Id="pm_app_cli_path_environment_var"
                    Name="PATH"
                    Action="set"
                    Part="last"
                    System="yes"
                    Value="[pm_app_pathed_folder]" />
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_shaders"
            Directory="pm_app_shaders_folder">
            <Component
                Id="pm_app_shaders_line_ps_cso"
                Guid="A8763E1B-2C47-4384-84CA-83ACE4432CC6">
                <File
                    Id="pm_app_shaders_line_ps_cso"
                    Name="Line_PS.cso"
                    Source="$(var.KernelProcess.TargetDir)shaders\Line_PS.cso"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_shaders_line_vs_cso"
                Guid="E86A8F57-4800-42A5-A412-A551E0B9C4C2">
                <File
                    Id="pm_app_shaders_line_vs_cso"
                    Name="Line_VS.cso"
                    Source="$(var.KernelProcess.TargetDir)shaders\Line_VS.cso"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <ComponentGroup
            Id="pm_app_presets"
            Directory="pm_app_presets_folder">
            <Component
                Id="pm_app_preset_0"
                Guid="46B6EA26-146A-4FB7-9536-E6ABD794379A">
                <File
                    Id="pm_app_preset_0"
                    Name="preset-0.json"
                    Source="$(var.KernelProcess.TargetDir)Presets\preset-0.json"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_preset_1"
                Guid="B30A4F04-D117-45C2-9BD6-B5725208BDFB">
                <File
                    Id="pm_app_preset_1"
                    Name="preset-1.json"
                    Source="$(var.KernelProcess.TargetDir)Presets\preset-1.json"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_preset_2"
                Guid="74D65127-230C-4015-9733-B33CC499216D">
                <File
                    Id="pm_app_preset_2"
                    Name="preset-2.json"
                    Source="$(var.KernelProcess.TargetDir)Presets\preset-2.json"
                    KeyPath="yes">
                </File>
            </Component>
            <Component
                Id="pm_app_preset_3"
                Guid="A1C2E3F4-5B6D-4789-A012-3456789ABCDE">
                <File
                    Id="pm_app_preset_3"
                    Name="preset-3.json"
                    Source="$(var.KernelProcess.TargetDir)Presets\preset-3.json"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <?if $(var.has_console_app) = "true" ?>
        <ComponentGroup
            Id="console_app_group"
            Directory="pm_console_app_folder">
            <Component
                Id="console_app_exe"
                Guid="12C3F55B-9586-4FD2-A705-C89A224ECBB5">
                <File
                    Id="console_app_exe"
                    Name="$(var.console_app_filename)"
                    Source="$(var.console_app_path)"
                    KeyPath="yes">
                </File>
            </Component>
        </ComponentGroup>
        <?endif?>
		<ComponentGroup
            Id="sdk_group"
            Directory="sdk_folder">
			<Component
                Id="loader_import_lib"
                Guid="5746C4B9-7D3D-47AE-AEC5-9EB8CEFDAAEB">
				<File
                    Id="loader_import_lib"
                    Name="PresentMonAPI2Loader.lib"
                    Source="$(var.PresentMonAPI2Loader.TargetDir)"
                    KeyPath="yes">
				</File>
			</Component>
			<Component
                Id="loader_dll"
                Guid="FB49F469-944D-4772-AA68-759BC3264430">
				<File
                    Id="loader_dll"
                    Name="$(var.PresentMonAPI2Loader.TargetFileName)"
                    Source="$(var.PresentMonAPI2Loader.TargetDir)"
                    KeyPath="yes">
				</File>
			</Component>
			<Component
                Id="api_header"
                Guid="482AD952-40FB-4278-BF41-EF9F61F709BC">
				<File
                    Id="api_header"
                    Name="PresentMonAPI.h"
                    Source="$(var.PresentMonAPI2.ProjectDir)"
                    KeyPath="yes">
				</File>
			</Component>
		</ComponentGroup>
    </Fragment>
</Wix>
